*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --background-color: #EEEEEE;
  --primary-color: #222831;
  --secondary-color: #393E46;
  --tertiary-color: #00ADB5;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

#mainBody {
  display: block !important;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto";
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

#headerDesign {
  z-index: -1;
  position: absolute;
  background-color: var(--tertiary-color);
  height: 70vh;
  width: 300%;
  transform: rotate(-15deg) translateY(-90vh);
  box-shadow: -10px -10px 30px black;
}

#aboutMeContainer {
  display: flex;
  align-items: center;
  padding: 10vh 10vw;
}

#imgContainer {
  flex-shrink: 0;
  position: relative;
  text-align: center;
  color: var(--background-color);
  height: 30vw;
  width: 30vw;
  background-image: url(./images/image1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  border-radius: 23px;
  box-shadow: 2px 2px 4px black;
}

#imgText{
  font-family: "Playfair Display";
  margin-top: auto;
  font-size: 3.5vw;
  text-shadow: 1px 1px 2px black;
}

#descContainer {
  background-color: var(--primary-color);
  color: var(--background-color);
  height: 25vw;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 3px 3px 10px black;
}

#descContainer .header {
  font-family: "Playfair Display";
  font-size: 3.5vw;
  margin-bottom: 1vh;
}

#descContainer .desc {
  font-size: 1.25vw;
}

#descContainer .iconContainer {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  gap: 1vw;
}

#descContainer .iconContainer img {
  width: 3vw;
  height: 3vw;
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(184%) hue-rotate(95deg) brightness(117%) contrast(87%);
}

.clickable:hover {
  animation: iconHover 0.1s linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes iconHover {
  from {filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(184%) hue-rotate(95deg) brightness(117%) contrast(87%);}
  to {filter: brightness(0) saturate(100%) invert(49%) sepia(74%) saturate(1414%) hue-rotate(144deg) brightness(89%) contrast(101%);}
}

.clickable:not(:hover) {
  animation: iconHoverReverse 0.1s linear;
  animation-fill-mode: forwards;
}

@keyframes iconHoverReverse {
  from {filter: brightness(0) saturate(100%) invert(49%) sepia(74%) saturate(1414%) hue-rotate(144deg) brightness(89%) contrast(101%);}
  to {filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(184%) hue-rotate(95deg) brightness(117%) contrast(87%);}
}

#workHeader {
  font-size: 3.5vw;
  font-family: "Playfair Display";
  color: var(--primary-color);
  padding-left: 10vw;
  margin-bottom: 1vh;
}

#workContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 10vh;
}

.projectContainer {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 25px 25px 20px 20px;
  box-shadow: 2px 2px 5px black;
  font-size: 1.2vw;
}

.projectContainer img {
  border-radius: 20px 20px 0px 0px;
}

.projectContainer .textContainer {
  padding: 0.3vw 1vw 1vw 1vw;
}

.projectContainer .headerContainer {
  display: flex;
  align-items: center;
}

.headerContainer .header {
  font-size: 2vw;
  font-family: "Playfair Display";
  margin-right: auto;
}

.headerContainer .iconContainer {
  display: flex;
  gap: 0.5vw;
}

.iconContainer img {
  height: 2vw;
  width: 2vw;
}

.textContainer .desc {
  margin-top: 1vh;
}

#contactMeContainer {
  display: flex;
  background-color: var(--tertiary-color);
  color: var(--background-color);
  padding: 5vh 10vw 5vh 10vw;
}

#contactMeContainer .imageOfMe {
  height: 30vw;
  width: 30vw;
  border-radius: 50px;
  margin-left: auto;
}

#infoContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  gap: 2vh;
}

#infoContainer .header {
  font-size: 2.5vw;
  font-family: "Playfair Display";
}

#infoContainer .phoneNumber {
  display: flex;
  align-items: center;
}

#infoContainer .email {
  display: flex;
  align-items: center;
}

#infoContainer .icon {
  height: 2vw;
  margin-right: 1vw;
  width: auto;
  filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(62%) hue-rotate(336deg) brightness(119%) contrast(87%);
}

#infoContainer .iconContainer {
  display: flex;
}

#infoContainer .iconContainer .icon {
  height: 3vw;
  width: auto;
}

#infoContainer .iconContainer .icon:hover {
  animation: iconHoverContact 0.1s linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes iconHoverContact {
  from {filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(184%) hue-rotate(95deg) brightness(117%) contrast(87%);}
  to {filter: brightness(0) saturate(100%) invert(13%) sepia(14%) saturate(918%) hue-rotate(176deg) brightness(93%) contrast(91%);}
}

#infoContainer .iconContainer .icon:not(:hover) {
  animation: iconHoverReverseContact 0.1s linear;
  animation-fill-mode: forwards;
}

@keyframes iconHoverReverseContact {
  from {filter: brightness(0) saturate(100%) invert(13%) sepia(14%) saturate(918%) hue-rotate(176deg) brightness(93%) contrast(91%);}
  to {filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(184%) hue-rotate(95deg) brightness(117%) contrast(87%);}
}

@media (max-width:950px) {
  #headerDesign {
    transform: rotate(-15deg) translateY(-70vh);
  }

  #aboutMeContainer {
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw 5vh 10vw;
  }

  #imgContainer {
    height: 40vw;
    width: 40vw;
    margin-bottom: 2vh;
  }

  #imgText {
    font-size: 4.5vw;
  }

  #descContainer {
    height: 40vw;
    padding: 2vh 2vw;
    border-radius: 20px;
  }

  #descContainer .header {
    font-size: 5vw;
    text-align: center;
  }

  #descContainer .desc {
    font-size: 2vw;
  }

  #descContainer .iconContainer img {
    width: 5vw;
    height: 5vw;
  }

  #workHeader {
    font-size: 5vw;
    margin-bottom: 2vh;
  }

  #workContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .projectContainer {
    font-size: 2vw;
  }

  .projectContainer .textContainer {
    padding: 0.5vw 1.5vw 1.5vw 1.5vw;
  }

  .headerContainer .header {
    font-size: 3vw;
  }

  .iconContainer img {
    height: 3vw;
    width: 3vw;
  }

  #infoContainer {
    font-size: 3vw;
  }

  #infoContainer .header {
    font-size: 5vw;
  }

  #infoContainer .icon {
    height: 3.5vw;
  }

  #infoContainer .iconContainer .icon {
    height: 5vw;
    width: auto;
  }

  #contactMeContainer .imageOfMe {
    height: auto;
    object-fit: cover;
    object-position: 30%;
  }
}

@media (max-width: 617px) {
  #headerDesign {
    transform: rotate(-15deg) translateY(-50vh);
  }

  #aboutMeContainer {
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw 5vh 10vw;
  }

  #imgContainer {
    height: 60vw;
    width: 60vw;
    margin-bottom: 2vh;
  }

  #imgText {
    font-size: 5.5vw;
  }

  #descContainer {
    height: 110vw;
    padding: 2vh 2vw;
    border-radius: 20px;
  }

  #descContainer .header {
    font-size: 8vw;
    text-align: center;
  }

  #descContainer .desc {
    font-size: 4vw;
  }

  #descContainer .iconContainer {
    margin-right: auto;
    gap: 4vw;
  }

  #descContainer .iconContainer img {
    width: 10vw;
    height: 10vw;
  }

  #workHeader {
    font-size: 10vw;
    padding-left: 0;
    margin-bottom: 2vh;
    text-align: center;
  }

  #workContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .projectContainer {
    font-size: 3.5vw;
  }

  .projectContainer .textContainer {
    padding: 1vw 2vw 2vw 2vw;
  }

  .headerContainer .header {
    font-size: 6vw;
  }

  .headerContainer .iconContainer {
    gap: 1vw;
  }

  .iconContainer img {
    height: 6vw;
    width: 6vw;
  }

  #contactMeContainer {
    flex-direction: column;
  }

  #infoContainer {
    font-size: 4vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
  }

  #infoContainer .header {
    font-size: 10vw;
    text-align: center;
  }

  #infoContainer .address {
    font-size: 4vw;
  }

  #infoContainer .phoneNumber {
    font-size: 4vw;
  }

  #infoContainer .phoneNumber img {
    display: none;
  }

  #infoContainer .email {
    font-size: 4vw;
  }

  #infoContainer .email img {
    display: none;
  }

  #infoContainer .iconContainer {
    gap: 3vw;
  }

  #infoContainer .iconContainer .icon {
    height: 10vw;
    width: auto;
  }

  #contactMeContainer .imageOfMe {
    width: 100vw;
  }
}

